{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action = "">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today </legend>
                <div class="form-group">
                    {{ from.username.label(class="form-control-label") }}
                    {{ from.username.label(class="form-control from-control-lg") }}
                </div>
                <div class="form-group">
                    {{ from.email.label(class="form-control-label") }}
                    {{ from.email.label(class="form-control from-control-lg") }}
                </div
                <div class="form-group">
                    {{ from.password.label(class="form-control-label") }}
                    {{ from.password.label(class="form-control from-control-lg") }}
                </div>
                <div class="form-group">
                    {{ from.confirm_password.label(class="form-control-label") }}
                    {{ from.confirm_password.label(class="form-control from-control-lg") }}
                </div>
                <div class="form-group">
                    {{ from.submit(class="btn btn btn-outline-info") }}
                </div>
            </fieldset>
        </form>
    </div>
    <div class = "border-top pt-3">
        <small class = "text-muted">
            Already have an account? <a class="ml-2" href ="{{ url_for('login') }}"> Sign In </a>
        </small>

    </div>
{% endblock content %}